{% extends "_layouts/default.njk" %} 

{% block body %}
  <div class="row"> 
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="main">  
        <div class="cadastro">
          <h3>Editar Compra</h3>
          <br>

          <h3>Window size is <span class="window-size"></span></h3>
          <p>Knowing this number you can make decisions based in breakpoints of window.</p>
          <hr>
          <h3>Screen size is <span class="screen-size"></span></h3>
          <p>Here you have an idea of device screen size. </p>
          
          <form action="/compra/editar/{{ compra._id }}" method="POST">
            {# {% include "_partials/flash.njk" %} #}
            {# <input type="hidden" name="_id"> #}
            <div class="row">
              <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                  <label for="data">Data</label>
                  <input type="text" name="data" id="dtCompra"  class="flatpickr form-control" value="{{ dataCompra }}"> 
                </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                  <label for="local">Local</label>
                  <input type="text" name="local" placeholder="Local" class="x form-control" value="{{ compra.local }}" maxlength="50" required>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                  <label for="valor">Valor</label>
                  <div class="input-group">
                    <div class="input-group-prepend">    
                      <span class="input-group-text" id="input1">R$</span>
                    </div>
                    {# <input type="number" name="valorTotal" step="0.01" class="form-control" id="valor" value="{{ compra.valorTotal }}" readonly> #}
                    <input type="text" id="valor" class="form-control" name="valorTotal" value='{{ compra.valorTotal }}' data-thousands="." data-decimal=","  min="0.01" readonly/>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <a class="btn btn-primary col-xl-2 col-lg-3 col-md-4 mt-2" href="#" role="button" id="btnAdicionar">Adicionar Item</a>
            </div>
            <br> 

            <div id="itens">
              {% for itemCompra in itensCompra%}
                <div class="row">
                  <div class="col-md-12 col-lg-2 col-xl-1">
                    <label for="quantidade">Qtde</label>
                    <input type="number" step="0.01" name="quantidade" value="{{ itemCompra.quantidade }}" class="qtde form-control" required>
                  </div>
                  <div class="col-md-12 col-lg-2 col-xl-2">
                    <label for="unidadeMedida">Un. Medida</label>
                    <select name='unidadeMedida' class="unidadeMedida form-control">
                      <option value="{{ itemCompra.unidadeMedida }}" name="receita" ></option>
                    </select>
                  </div>
                  <div class="col-md-12 col-lg-2 col-xl-2">
                    <label for="insumo">Itens</label>
                    <select name='insumo' class="selectInsumo form-control">
                      <option value="{{ itemCompra.insumo }}" name="receita" class="itemInsumo"></option>
                    </select>
                  </div> 
                  <div class="col-md-12 col-lg-2 col-xl-2">
                    <label for="valor">Valor Un.</label>
                    <div class="input-group">
                      <div class="input-group-prepend">    
                        <span class="input-group-text" id="input2">R$</span>
                      </div>
                      <input type="text" class="vlr form-control" name="valor" value='{{itemCompra.valor}}' data-thousands="." data-decimal="," required/>
                      {# <input type="number" step="0.01" name="valor" value="{{ itemCompra.valor}}" class="vlr form-control" required> #}
                    </div> 
                  </div> 
                  <div class="col-md-12 col-lg-3 col-xl-2">
                    <label for="marca">Marca</label>
                    <input type="text" name="marca" value="{{ itemCompra.marca }}" class="mrc form-control" maxlength="50" required>
                  </div> 
                  <div class="col-md-1 col-lg-1 col-xl-1 divBtnExcluir divBtnExcluirCompra">
                    <input type="button" name="btnExcluir" value="X" class="btnExcluir btn btn-danger mt-4">
                  </div>  
                </div>  
              {% else %}
                  <h4 class="mt-3">Não há itens para exibir nessa compra </h4>
              {% endfor %}
            </div>
            
            <button type="submit" class="btn btn-primary col-xl-2 col-lg-3 col-md-4 mt-4">Confirmar</button>
            <a class="btn btn-primary mt-2 col-xl-2 col-lg-3 col-md-4 mt-4 btnVoltar" href="/compra/listar" role="button">Voltar</a>

            <select class="hidden" id="insumosHidden">
              {% for insumo in insumos %}
                <option value="{{ insumo._id }}" name="receita" class="itemInsumo"> {{ insumo.nome }}</option>
              {% endfor %}
            </select>
          </form>
        </div>
      </main>
  </div> 

  <script src="/assets/js/functions/funcoesCompra.js"></script>
  {# <script> #}
    {# (function(){
      //'use strict';
      //var $btn = document.getElementById('btnAdicionar');
      {# var $btnExcluir = document.getElementsByClassName('btnExcluir btn btn-danger'); #}

     {# // $btn.addEventListener('click', adicionaItemCompra); #}

     {# carregaInsumos() #}

      {# window.addEventListener("load", function(event) {
        //console.log("Todos os recursos terminaram o carregamento!");

        ocultaInsumos()
        adicionaEventos() #}

        {# function adicionaEventos(){
          var $valores = document.getElementsByClassName('vlr');
          var $qtdes = document.getElementsByClassName('qtde');

          for(let i = 0; i < $valores.length; i++){
              $valores[i].addEventListener('blur',somaItens);
          }

          for(let i = 0; i < $qtdes.length; i++){
            $qtdes[i].addEventListener('blur',somaItens);
          }

          var $btn = document.getElementsByClassName('btnExcluir btn btn-danger');
          for(let i = 0; i < $btn.length; i++){
            $btn[i].addEventListener('click',function(e){
              somaItens()
              deletarItem(e.target);
            });
          }
        } #}
      {# }); #}

     {# // flatpickr('.flatpickr', {
     //   dateFormat: 'd/m/Y',
     // }) #}

      {# for(let i = 0; i < $btnExcluir.length; i++){
          $btnExcluir[i].addEventListener('click',function(e){
            deletarItem(e.target);
          });
      }  #}

      {# --Precisa #}
      {# function deletarItem(btn){
        var elementoPaiBtn = btn.parentNode
        var elementoPai = elementoPaiBtn.parentNode
        
        if (elementoPai.parentNode) {
          elementoPai.parentNode.removeChild(elementoPai);
        }   
      } #}

      {# ok #}
      {# function ocultaInsumos(){
        let $qtde = document.getElementsByClassName("hidden").length
        for(let i=0; i < $qtde; i++){
          document.getElementsByClassName("hidden")[i].style.display = "none";
        }
      } #}

      {# ok #}
      {# function adicionaItemCompra(){
        var $divPrincipal = document.getElementById('itens');
        let div = document.createElement("DIV")
        div.setAttribute('class', 'row')
        $divPrincipal.appendChild(div);

        campoQtde()
        campoValor()
        campoMarca()
        campoInsumo()
        botaoExcluir()
        adicionaEventos()

        function deletarItem(btn){
          var elementoPaiBtn = btn.parentNode
          var elementoPai = elementoPaiBtn.parentNode
          
          if (elementoPai.parentNode) {
            elementoPai.parentNode.removeChild(elementoPai);
          }  
        }

        function campoQtde(){
          //Adiciona Campo Quantidade
          let div1 = document.createElement("DIV")
          div1.setAttribute("class", "col-md-2 col-xs-2")
          div.appendChild(div1);

          let quantidade = document.createElement("INPUT");
          quantidade.setAttribute("type", "number");
          quantidade.setAttribute("step", "0.01");
          quantidade.setAttribute("name", "quantidade");
          quantidade.setAttribute("value", "1");
          quantidade.setAttribute("class", "qtde form-control");
          div1.appendChild(quantidade);

          let labelqtde = document.createElement("LABEL");
          let txtQtde = document.createTextNode("Quantidade");
          labelqtde.setAttribute("for", "quantidade");
          labelqtde.appendChild(txtQtde);

          div1.insertBefore(labelqtde, quantidade);
        }  

        function campoValor(){
          //Adiciona Campo Valor
          let div2 = document.createElement("DIV")
          div2.setAttribute("class", "col-md-2 col-xs-2")
          div.appendChild(div2);
          let qtdeItensCriados = document.getElementsByClassName('vlr').length

          let valor = document.createElement("INPUT");
          valor.setAttribute("type", "number");
          valor.setAttribute("step", "0.01");
          valor.setAttribute("name", "valor");
          valor.setAttribute("value", "0");
          valor.setAttribute("class", "vlr form-control");
          valor.setAttribute("id", qtdeItensCriados);
          div2.appendChild(valor);

          let labelValor = document.createElement("LABEL");
          let txtVlr = document.createTextNode("Valor");
          labelValor.setAttribute("for", "valor");
          labelValor.appendChild(txtVlr);

          div2.insertBefore(labelValor, valor); 
        }
        
        function campoMarca(){
          //Adiciona Campo Marca
          let div3 = document.createElement("DIV")
          div3.setAttribute("class", "col-md-3 col-xs-3")
          div.appendChild(div3);
          let marca = document.createElement("INPUT");
          marca.setAttribute("type", "text");
          marca.setAttribute("name", "marca");
          marca.setAttribute("value", "Marca");
          marca.setAttribute("class", "mrc form-control");
          div3.appendChild(marca);

          let labelMarca = document.createElement("LABEL");
          let txtMarca = document.createTextNode("Marca");
          labelMarca.setAttribute("for", "marca");
          labelMarca.appendChild(txtMarca);

          div3.insertBefore(labelMarca, marca);
        }

        function campoInsumo(){
          //Adiciona Select Campo Insumo
          let div4 = document.createElement("DIV")
          div4.setAttribute("class", "col-md-3 col-xs-3")
          div.appendChild(div4);
          let select = document.createElement("SELECT");
          select.setAttribute("name", "insumo");
          select.setAttribute("class", "insumo form-control");
          div4.appendChild(select);

          let labelSelect = document.createElement("LABEL");
          let txtInsumo = document.createTextNode("Insumo");
          labelSelect.setAttribute("for", "insumo");
          labelSelect.appendChild(txtInsumo);

          div4.insertBefore(labelSelect, select);

          let final = qtdeInsumos()
          for (let i=0; i < final; i++){
            //Adiciona Itens Campo Insumo
            let itemSelect = document.createElement("OPTION");
            itemSelect.setAttribute("id", i);
            itemSelect.value = carregaItens(i).value;
            itemSelect.text = carregaItens(i).text;
            select.appendChild(itemSelect);
          }
        }

        function botaoExcluir(){
          let div5 = document.createElement("DIV")
          div5.setAttribute("class", "col-md-2 col-xs-2")
          div.appendChild(div5);
          //Se for button gera submit
          let btnExcluir = document.createElement("INPUT");
          btnExcluir.setAttribute("type", "button");
          btnExcluir.setAttribute("name", "btnExcluir");
          btnExcluir.setAttribute("value", "Excluir Item");
          btnExcluir.setAttribute("class", "btnExcluir btn btn-danger mt-4");
          div5.appendChild(btnExcluir);
        }

        function adicionaEventos(){
          var $valores = div.getElementsByClassName('vlr');
          var $qtdes = div.getElementsByClassName('qtde');

          for(let i = 0; i < $valores.length; i++){
              $valores[i].addEventListener('blur',somaItens);
          }

          for(let i = 0; i < $qtdes.length; i++){
            $qtdes[i].addEventListener('blur',somaItens);
          }

          var $btn = document.getElementsByClassName('btnExcluir btn btn-danger');
          for(let i = 0; i < $btn.length; i++){
            $btn[i].addEventListener('click',function(e){
              deletarItem(e.target);
            });
          }
        }
      } #}

      {# ok #}
      {# function qtdeInsumos(){
        let $qtdeInsumos = document.getElementsByClassName("itemInsumo").length;

        return $qtdeInsumos;
      } #}

      {# ok #}
      {# function carregaItens(indice){
        let $insumos = document.getElementsByClassName("itemInsumo")[indice];

        return $insumos;
      } #}

      {# ok #}
      {# function somaItens(){
        let $valorItem = document.getElementsByClassName('vlr');
        let $qtdeItem = document.getElementsByClassName('qtde');
        let $valor = document.getElementById('valor');
        let qtdeItensCriados = $valorItem.length
        let valorTotal = 0;

        for(let i=0; i < qtdeItensCriados; i++){
          valorTotal += parseFloat($valorItem[i].value * parseFloat($qtdeItem[i].value));
        }

        return $valor.value = valorTotal.toFixed(2) 
      } #}

      {# nope #}
      {# function carregaInsumos(){

        let $select = document.getElementsByClassName('selectInsumo')
        let insumos = '{{insumos}}'
        let insumosRemoveEspaco = insumos.replace(/&#39/g, '')
        let regexIdInsumo = new RegExp(/(?:_id:\s)(\w*)(?:,\s)/g)
        let regexNomeInsumo = new RegExp(/(?:;)(\w*\W*\w*\s*\w*\s*\w*\W*)(?:;,)/g)

        let itensCompraStr = '{{itStr}}'
        let itensRemoveEspaco = itensCompraStr.replace(/&quot/g, '')
        let itensRemoveVirgula = itensRemoveEspaco.replace(/;/g, '')
        let regexItemCompra = new RegExp(/(?:insumo:)(\w*)(?:,)/g)

        let idInsumo = [];
        let nomeInsumo = [];
        let idItemCompra = [];
        let insumoId = ''
        let insumoNome = ''
        let itemIdCompra = ''

        while(insumoId = regexIdInsumo.exec(insumosRemoveEspaco)){
          idInsumo.push(insumoId[1])
        }

        while(insumoNome = regexNomeInsumo.exec(insumosRemoveEspaco)){
          nomeInsumo.push(insumoNome[1])
        } 

        while(itemIdCompra = regexItemCompra.exec(itensRemoveVirgula)){
          idItemCompra.push(itemIdCompra[1])
        }

        for(let i=0; i < $select.length; i++){
          for(let j = 0; j < idInsumo.length; j++){
            let itemSelect = document.createElement("OPTION");

            itemSelect.selected = false;
            itemSelect.value = idInsumo[j];
            itemSelect.text = nomeInsumo[j]; 

            if(idItemCompra[i] == idInsumo[j]){
              itemSelect.selected = true;
            }

            $select[i].appendChild(itemSelect);
          }
        }
      }  #}
    {# })() #}
  {# </script>  #}
{% endblock%}  


