{% extends "_layouts/default.njk" %} 

{% block body %}
  <div class="row"> 
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="main"> 
      <div class="cadastro">
        <h3>Cadastro de Imposto</h3>
        <br>

        <form action="/imposto" method="POST">
          {# {% include "_partials/flash.njk" %} #}
          {# <input type="hidden" name="_id"> #}
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                  <label for="tipoImposto">Tipo de Imposto</label>
                  <select name="tipoImposto" class="form-control">
                    {% for tipoImposto in tiposImposto %}
                      <option value="{{ tipoImposto._id }}" name="tipoImposto">{{ tipoImposto.descricao }} </option>
                    {% endfor %} 
                  </select> 
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="usuario">Usuário</label>
                <select name="usuario" class="form-control">
                  {% for usuario in usuarios%}
                    <option value="{{ usuario._id }}" name="usuario">{{ usuario.nome }}</option>
                  {% endfor %}
                </select> 
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="dataPgto">Data do Pagamento</label>
                <input type="text" name="dataPgto" class="flatpickr form-control" value={{dataPagto}}>
                {# <input type="text" name="dataPgto" class="flatpickr form-control" placeholder="Escolha uma data"> #}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="valor">Valor</label>
                <div class="input-group">
                  <div class="input-group-prepend">    
                    <span class="input-group-text" id="input1">R$</span>
                  </div>
                  {# <input type="number" name="valor" value='0' step="0.01" id="vl" class="form-control" min="0.01" required> #}
                  {# <input type="number" name="valor" step="0.01" id="vl" class="form-control" min="0.01" required> #}
                  <input type="text" id="vl" class="form-control" name="valor" data-thousands="." data-decimal=","  min="0.01" required/>
                
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="qtde">Quantidade</label>
                <input type="number" name="qtde" value='0' id="qtde" class="form-control" min="1" max="100"  required >
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="form-group">
                <label for="valorTotal">Valor Total</label>
                <div class="input-group">
                  <div class="input-group-prepend">    
                    <span class="input-group-text" id="input1">R$</span>
                  </div>
                  <input type="number" name="valorTotal" value='0' id="vlTotal" class="form-control" readonly> 
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% include "_partials/flash.njk" %}
              </div>
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary col-xl-2 col-lg-3 col-md-4">Criar</button>
        </form>
      </div>
    </main>
  </div>     

  <script src="/assets/js/functions/funcoesImposto.js"> </script>

  {# <script>
    $(function() {
      $('#vl').maskMoney();
    })
  </script> #}


  {# <script>
    (function(){
      'use strict';
      
      flatpickr('.flatpickr', {
        dateFormat: 'd/m/Y',
      })
    })()

    let $qtde = document.getElementById('qtde')
    let $valor = document.getElementById('vl')

    $valor.addEventListener('blur', calculaTotal)
    $qtde.addEventListener('blur', calculaTotal)

    function calculaTotal(){
      let $valorTotal = document.getElementById('vlTotal')
      let valorTotal = 0;

      valorTotal = $qtde.value * $valor.value

      return $valorTotal.value = parseFloat(valorTotal.toFixed(2)) 
    }
  </script> #}
{% endblock%}