{# {% extends "_layouts/default.njk" %}  #}
{% include "_partials/head.njk" %}

{% block body %}


<body class="bodyStart">
  <div class="navbar navbarStart">
    <a href="#"></a>
  </div>

  <div class="text-center">
    <a href="/usuario/login">
      <button type="button" class="btn btnInicio">Começar</button>
    </a>
  </div>

  <footer class="sticky-footer footer-start">
      <div class="container">
          <div class="text-center">
              <small>Copyright Aqui</small>
          </div>
      </div>
  </footer>
</body>
  
{% endblock%}

