{% extends "_layouts/default.njk" %} 

{% block body %}
    <div class="row"> 
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="main"> 
            <div class="listagem">
                <div class="scheduleFilter mt-2">
                    <form action="/venda/listar" method="POST"> 
                        <div class="form-row">
                            <div class="col-sm-12 col-md-4 col-lg-3 scheduleFlatpickr ">
                                <label for="dtInicial">Data Inicial<label><br>
                                <input type="text" class="flatpickr col-md-12 col-sm-12" value="{{ dataAtual }}" id="dtInicial" name="dtInicial" placeholder="Escolha uma data"> 
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-3 scheduleFlatpickr ">
                                <label for="dtFinal">Data Final<label><br>
                                <input type="text" class="flatpickr col-md-12 col-sm-12" value="{{ dataAtual }}" id="dtFinal" name="dtFinal" placeholder="Escolha uma data"> 
                            </div>
                        {# <div class="col-sm-12 col-md-4 col-lg-2 align-items-center"> #}
                            {# <button type="submit" class="btn btn-danger btn-lg col-sm-6 col-md-4 col-lg-2 ">Filtrar</button> #}
                        {# </div>   #}

                            <div class="col-md-2 col-lg-2 d-flex align-items-center">
                                <button type="submit" class="btn col-sm-5 col-md-12 btn-danger" id="btnFiltroData">Filtrar</button>
                            </div>
                        </div>
                    </form>    
                </div>


                <a href="/venda/cadastro">
                    <button class="btn btn-warning" id="btnNovo">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </a>

                <h3 class="mt-2" id="TituloListagem">Listagem de Vendas</h3>
                <br>

                {# <table id="example" class="table table-striped" style="width:100%"> #}
                <table class="table table-striped" id="dataTable" width="100%">
                    <thead class="">
                    <tr>
                        <th scope="col" style="display:none">Id</th>
                        <th scope="col">Data</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Usuário</th>
                        <th id="colEdit"></th>
                        {% if tipoUsuario == Administrador %}
                            <th id="colDelete"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for venda in vendas %}
                        <tr id="{{venda._id}}">
                        <th class="classId"  style="display:none">{{ venda._id }}</th>
                        {# <th data-sort='YYYYMMDD' class="tirarNegrito classDesc">{{ venda.data | date("DD/MM/YYYY") }}</th> #}
                        <th class="tirarNegrito classDesc">{{ venda.data | date("DD/MM/YYYY") }}</th>
                        <td class="valorListagem">R${{venda.valorTotal}}</td>
                        <td>{{venda.usuario.nome}}</td>
                        <td>
                            <a href="editar/{{venda._id}}">
                                <button class="btn btn-primary">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </a>
                        </td>
                        {% if tipoUsuario == Administrador %}  
                            <td>  
                                <button type="button" class="btn btn-danger btnDelete" data-toggle="modal" data-target="#modalDelete" onClick="idLinha(this.parentNode.parentNode.id, 'venda')">
                                    <i class="fas fa-trash-alt"></i>
                                </button>           
                                {# <form action="/venda/deletar/{{venda._id}}" method="POST"> 
                                    <input type="hidden" name="_id" value="{{venda._id}}">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>    #}
                            </td>
                        {% endif %}
                        </tr>
                    {% else %}
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                    {% endfor %}
                    </tbody>
                </table>

                <div id="modalDelete" class="modal fade">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Atenção</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p id="descTituloPopUp"> </p>       
                            </div>
                            <div class="modal-footer">
                                <form action="" method="POST" class="formId" id="formId"> 
                                    <button type="submit" class="btn btn-danger">Sim</button>
                                </form> 
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>    
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </main>
    </div> 

    <script src="/assets/js/functions/funcoesVenda.js"></script>
    <script src="/assets/js/functions/funcoesPopup.js"></script>


{% endblock%}