<!DOCTYPE html>
<html lang="en">

{# Head #}
{% include "_partials/head.njk" %}
{# {% include "_partials/footer.njk" %} #}

<body>
  {# <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2" id="header">

  </nav> #}

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2" id="header">
    <a class="navbar-brand" href="/app/dashboard">
      <img src="/assets/img/logo2.png" width="45" height="45" class="d-inline-block align-top" alt=""/>
    </a>
    {# <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
      <ul class="navbar-nav mr-auto">
      </ul>
    <form class="form-inline my-2 my-lg-0" id="formExit">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link" href="/app/start" style="color:#fff;">
            Sair
            <i class="fas fa-sign-out-alt"></i>
          </a>
      <ul>
    </form>
  </nav>

  <div class="wrapper">
		<div class="sidebar">
			{# <div class="dismiss">
				<i class="fas fa-arrow-left"></i>
			</div> #}

				<div class="logo">
					{# <h3><a href="index.html">Bootstrap 4 Template with Sidebar Menu</a></h3> #}
					<img src="/assets/img/logo2.png" width="45" height="45" >
				</div>

				<ul class="list-unstyled ulMenu menu-elements">
					<li class="active">
						<a class="scroll-link" href="/app/dashboard"><i class="fas fa-home"></i> Inicio </a>
					</li>

					<li>
						<a href="#otherSectionsCadastro" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button"
							aria-controls="otherSectionsCadastro">
							<i class="fas fa-book"></i>  Cadastros
						</a>
						<ul class="collapse list-unstyled" id="otherSectionsCadastro">
							<li>
								<a class="scroll-link" href="/categoriaReceita/cadastro">Categorias de Receita</a>
							</li>
							<li>
								<a class="scroll-link" href="/tipoImposto/cadastro">Tipo de Imposto/Despesa</a>
							</li>
							<li>
								<a class="scroll-link" href="/insumo/cadastro">Insumo</a>
							</li>
							<li>
								<a class="scroll-link" href="/compra/cadastro">Compra</a>
							</li>
							<li>
								<a class="scroll-link" href="/imposto/cadastro">Imposto/Despesa</a>
							</li>
							<li>
								<a class="scroll-link" href="/receita/cadastro">Receita</a>
							</li>
							<li>
								<a class="scroll-link" href="/produto/cadastro">Produto</a>
							</li>
							<li>
								<a class="scroll-link" href="/receitaPorDia/cadastro">Receita Por Dia</a>
							</li>
							<li>
								<a class="scroll-link" href="/venda/cadastro">Venda</a>
							</li>
							<li>
								<a class="scroll-link" href="/usuario/cadastro">Usuário</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="#otherSectionsConsulta" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button"
							aria-controls="otherSectionsConsulta">
							<i class="fas fa-book-open"></i>Consultas/Edição
						</a>
						<ul class="collapse list-unstyled" id="otherSectionsConsulta">
							<li>
								<a class="scroll-link" href="/categoriaReceita/listar">Categorias de Receita</a>
							</li>
							<li>
								<a class="scroll-link" href="/tipoImposto/listar">Tipo de Imposto/Despesa</a>
							</li>
							<li>
								<a class="scroll-link" href="/insumo/listar">Insumo</a>
							</li>
							<li>
								<a class="scroll-link" href="/compra/listar">Compra</a>
							</li>
							<li>
								<a class="scroll-link" href="/imposto/listar">Imposto/Despesa</a>
							</li>
							<li>
								<a class="scroll-link" href="/receita/listar">Receita</a>
							</li>
							<li>
								<a class="scroll-link" href="/produto/listar">Produto</a>
							</li>
							<li>
								<a class="scroll-link" href="/receitaPorDia/listar">Receita Por Dia</a>
							</li>
							<li>
								<a class="scroll-link" href="/venda/listar">Venda</a>
							</li>
							<li>
								<a class="scroll-link" href="/estoque/listar">Estoque</a>
							</li>
							<li>
								<a class="scroll-link" href="/usuario/listar">Usuário</a>
							</li>
							<li>
								<a class="scroll-link" href="/receita/historicoPreco">Histório de Preços Receita</a>
							</li>
							<li>
								<a class="scroll-link" href="/receita/mediaPreco">Média de Preços Receita</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="#otherSectionsDicas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button"
							aria-controls="otherSectionsDicas">
							<i class="fas fa-info"></i>  Dicas de Uso
						</a>
						<ul class="collapse list-unstyled" id="otherSectionsDicas">
							<li>
								<a class="scroll-link" href="/dicas/instrucoes">Instruções de Uso</a>
							</li>
						</ul>
					</li>
{# 
        <li class="">
          <a class="scroll-link" href="/app/start"><i class="fas fa-sign-out-alt"></i> Sair </a>
        </li> #}
      </ul>
			{# <div class="dark-light-buttons">
				<a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
				<a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
			</div> #}
		</div>

		{# <div class="overlay"></div> #}
		{# <div class="content">
			<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
				<i class="fas fa-align-left"></i> <span>Menu</span>
			</a>
		</div> #}

    {% block body %}
  
    {% endblock %}
		 </div>

    {# <div class="footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright Seu site</small>
            </div>
        </div>
    </div>  #}
  {# </div> #}
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/assets/js/scripts.js"></script>
  {# <script src="/assets/js/jquery-migrate-3.0.0.min.js"></script> #}
</body>

<script>
  {# $data = document.getElementById('example')
  if ($data) {
    $(document).ready(function() {
        $('#example').DataTable();
    } );
  }   #}
</script>

</html>